{% extends "ClicSapeAdminBundle::Layout/base_admin.html.twig" %}

{% block title %}ClicSapeAdminBundle:Article:list{% endblock %}

{% block h1 %}
    <h2 class='col-lg-7 col-lg-offset-1'>Welcome to the Article:list page</h2>
    <div class='col-lg-2 col-lg-offset-1'>
        {{button.addEntity('article_add')}}
        {{button.refreshContent('article_filter')}}
    </div>
{% endblock %}

{% block searchBar %}
{% endblock %}

{% block body %}
    <table class="table table-hover">
        {% set articleClass = getClassInArray(listArt) %}
        {% set articleUrl = 'article_filter' %}
        <thead>
            <tr>
                <th class="col-lg-1">id {{button.filter(articleUrl, articleClass,'id')}}</th>
                <th class="col-lg-1">titre {{button.filter(articleUrl, articleClass,'title')}}</th>
                <th class="col-lg-2">description {{button.filter(articleUrl, articleClass,'description')}}</th>
                <th class="col-lg-2">categories {{button.filterSelect('category_all',articleClass,'categories')}}</th>
                <th class="col-lg-1">genre {{button.filterSelect('gender_all',articleClass,'genders')}}</th>
                <th class="col-lg-2">photos</th>
                <th class="col-lg-1">action</th>
            </tr>
        </thead>
        {% include "ClicSapeAdminBundle:Article:list_content.html.twig" %}
    </table>
{% endblock %}
{% block javascripts %}
        <script src="{{ asset('js/admin/article.js') }}"></script>
{% endblock %}