{% extends "ClicSapeAdminBundle::Layout/base_admin.html.twig" %}

{% block title %}ClicSapeAdminBundle:Category:list{% endblock %}

{% block h1 %}
    <h2 class='col-lg-7 col-lg-offset-1'>Welcome to the Category:list page</h2>
    <div class='col-lg-2 col-lg-offset-1'>
        {{button.addEntity('category_add')}}
        {{button.refreshContent('category_filter')}}
    </div>
{% endblock %}
{% block body %}
    {% set categoryClass = getClassInArray(listCat) %}
    {% set categoryUrl = 'category_filter' %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>id {{button.filter(categoryUrl, categoryClass,'id')}}</th>
                <th>titre {{button.filter(categoryUrl, categoryClass,'title')}}</th>
                <th>description {{button.filter(categoryUrl, categoryClass,'description')}}</th>
                <th>gamme {#{{button.filterSelect('gamme_all',categoryClass,'gammes')}}#}</th>
                <th>genre {{button.filterSelect('gender_all',categoryClass,'genders')}}</th>
                <th>group de taille</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% include "ClicSapeAdminBundle:Category:list_content.html.twig" %}
        </tbody>
    </table>
{% endblock %}
