{% extends "ClicSapeAdminBundle::Layout/base_admin.html.twig" %}

{% block title %}ClicSapeAdminBundle:Category:list{% endblock %}

{% block h1 %}
    <h2 class='col-lg-7 col-lg-offset-1'>Welcome to the Category:list page</h2>
    <div class='col-lg-2 col-lg-offset-1'>
        {{button.addEntity('category_add')}}
    </div>
{% endblock %}
{% block body %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>titre</th>
                <th>description</th>
                <th>gamme</th>
                <th>genre</th>
                <th>group de taille</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for category in listCat  %}
            <tr>
                <td>{{category.id}}</td>
                <td>{{category.title}}</td>
                <td>{{category.description}}</td>
                <td>
                    {% for gamme in category.gammes %}
                        {{gamme.title}}<br/>
                    {% endfor %}
                </td>
                <td>
                    {% for gender in category.genders %}
                        {{gender.title}}<br/>
                    {% endfor %}
                </td>
                <td>
                    {% for groupSize in category.groupSizes %}
                        {{groupSize.title}}<br/>
                    {% endfor %}
                </td>
                <td>
                    {{button.edit('category_edit',category.id)}}
                    {{button.delete('category',category.id)}}
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}
