{% extends "::admin/base_admin.html.twig" %}

{% block title %}ClicSapeAdminBundle:Country:list{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class='row'>
        <h2 class='col-lg-7 col-lg-offset-1'>Welcome to the Country:list page</h2>  
        <a class="btn btn-info col-lg-1 col-lg-offset-1  " href="{{path('country_add') }}">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ></span>
        </a>
    </div>
    {% if listCountry is not null %}
        <div class='row'>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>code</th>
                        <th>libellé</th>
                        <th>monnaie</th>
                        <th>symbole</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                {% for country in listCountry  %}
                    <tr>
                        <td>{{country.id}}</td>
                        <td>{{country.code}}</td>
                        <td>{{country.wording}}</td>
                        <td>{{country.money}}</td>
                        <td>{{country.symbol}}</td>
                        <td>
                            {{button.edit('country_edit',country.id)}}
                            {{button.delete('country',country.id)}}
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>  
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin/country/country.js') }}"></script>
{% endblock %}
