{% extends "ClicSapeAdminBundle::Layout/base_admin.html.twig" %}

{% block title %}ClicSapeAdminBundle:Country:list{% endblock %}

{% block h1 %}
    <h2 class='col-lg-7 col-lg-offset-1'>Welcome to the Country:list page</h2>
    <div class='col-lg-2 col-lg-offset-1'>
        {{button.addEntity('country_add')}}
    </div>
{% endblock %}
{% block body %}
    {% if listCountry is not null %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>code</th>
                        <th>libellé</th>
                        <th>monnaie</th>
                        <th>symbole</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                {% for country in listCountry  %}
                    <tr>
                        <td>{{country.id}}</td>
                        <td>{{country.code}}</td>
                        <td>{{country.wording}}</td>
                        <td>{{country.money}}</td>
                        <td>{{country.symbol}}</td>
                        <td>
                            {{button.edit('country_edit',country.id)}}
                            {{button.delete('country',country.id)}}
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
    {% endif %} 
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin/country.js') }}"></script>
{% endblock %}
