{# 
    button to modify entity
    {routing} url page 
    {id} entity's id to modify
#}
{% macro edit(routing,id) %}
    <a class="btn btn-primary" href="{{path(routing, {'id':id})}}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span>
    </a>
{% endmacro %}

{#
    button delete entity
    {entity} entity deleted
    {id} id of {entity}
#}
{% macro delete(entity,id) %}
    <button  id="delete" 
             type="button" 
             class="btn btn-danger" 
             data-entity="{{entity}}_{{id}}">
        <span class="glyphicon glyphicon-remove" 
              aria-hidden="true"></span>
    </button>
{% endmacro %}

{#
    button add entity
    {routing}  url page 
#}
{% macro addEntity(routing)%}
    <a class="btn btn-info" 
       href="{{path(routing)}}">
        <span class="glyphicon glyphicon-plus-sign" 
              aria-hidden="true" ></span>
    </a>
{% endmacro%}

{#
    button refresh table content
    {routing}  url page 
#}
{% macro refreshContent(routing)%}
    <button class="btn btn-info" 
       data-url="{{path(routing)}}"
       id="refresh">
        <span class="glyphicon glyphicon-refresh" 
              aria-hidden="true" ></span>
    </button>
{% endmacro%}

{#
    button for show an input text to declare a
    filter.
    {url} use for ajax function who get 
    entity to show after research
    {class} entity to show
    {filter} property and value use forresearch
#}
{% macro filter(url,class,filter) %}
<input name="class" data-url="{{path(url)}}" data-class="{{class}}" data-filter="{{filter}}" hidden/>
<button class="btn btn-default" id="filter">
    <span class="glyphicon glyphicon-search"></span>
</button>
{% endmacro %}

{#
    button for show a dialog with entities selection.
    {url} use for ajax function who get 
    all entities to show
    {class} entities we want to get back
    {classJoin} entities or property use in parameter to get back {class}
#}
{% macro filterSelect(url, class, classJoin) %}
<button class="btn btn-default" 
        data-url="{{path(url)}}" 
        data-entity="{{class}}"
        data-entity-join="{{classJoin}}"
        id="filterSelect">
    <span class="glyphicon glyphicon-search"></span>
</button>
{% endmacro %}